* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.7rem;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.08rem;
    font-weight: 400;
    color: grey;
    padding-bottom: 0.7rem;
}

a {
    color: black;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.left-image .desktop-image {
    height: 460px;
    width: 320px;
    border-radius: 1rem 0rem 0rem 1rem;
}

.mobile-image {
    display: none;
}

.right-info {
    background-color: #fff;
    border-radius: 0 1rem 1rem 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 410px;
    width: 320px;
}

.product-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.98rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: rgb(115, 114, 114);
    padding: 0.8rem 0 0.8rem 0;
}

.prices {
    display: flex;
    gap: 25px;   
}

.discounted-price{
    color: #008170;
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
    font-weight: 700;
}

.real-price {
    color: rgb(115, 114, 114);
    font-family: 'Fraunces', serif;
    font-weight: 500;
    text-decoration: line-through;
    align-self: center;
}

.call-to-action {
    align-items: center;
    background-color: #008170;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 1rem 6rem 1rem 6rem;
    margin-top: 15px;
}

.cta-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.96rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-left: 1px;
}

.cta-icon {
    position: relative;
    top: 0.14rem;
    right: 0.25rem;  
}

.call-to-action:hover {
    background-color: #005B41;
}

footer .footer-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: black;
    position: absolute;
    bottom: 5%; 
    left: 42%;
    
} 


/* MEDIA QUERIES FOR MOBILE */

@media screen and (min-width: 320px) and (max-width: 700px) {
  
    h1 {
        font-size: 1.8rem;
        padding: 12px 0 0 20px;
    }

    h3 {
        font-size: 0.9rem;
        padding: 15px 0 0 20px; 
    }

    .container {
        display: flex;
        height: 100%;
        flex-flow: column wrap;
        align-content: center;
    }

    .left-image .mobile-image {
        display: unset;
        border-radius: 0.7rem 0.7rem 0 0;
        height: 220px;
        width: 310px;
        margin-top: 50px;
    }

    .desktop-image {
        display: none;
    }

    .right-info {
        border-radius: 0 0 0.7rem 0.7rem;
        height: 320px;
        width: 310px;
        padding: 0px;
        position: relative;
        bottom: 3.5px;
    }

    .product-info {
        font-size: 0.85rem;
        padding: 12px 0 0 20px;
        line-height: 1.15rem;
    }

    .prices {
        padding: 5px 0 0 20px;
    }

    .discounted-price {
        font-size: 2.3rem;
    }

    .real-price {
        font-size: 0.9rem;
    }

    .call-to-action {
        padding: 10px;
        margin: 12px 0 0 20px;
        width: 280px;
    }

    footer .footer-text {
        font-size: 0.80rem;
        position: absolute;
        bottom: 1%;
        left: 30%;
    }
 
}
