* {
    padding: 0;
    margin: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --medium-pale-blue: hsl(225, 100%, 96.5%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --bright-blue: hsl(245, 75%, 52%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    background-image: url('images/pattern-background-desktop.svg');
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.order-container {
    background-color: var(--very-pale-blue);
    border-radius: 1rem;
    width: 400px;
    height: 635px;
}

.order-image {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

.order-title {
    text-align: center;
    margin: 35px 15px 25px 20px;
}

.order-info {
    color: var(--desaturated-blue);
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 20px;
    text-align: center;
}

.order-plan {
    background-color: var(--medium-pale-blue);
    border-radius: 0.75rem;
    padding: 18px 12px;
    margin: 25px 30px;
    text-align: center;
}

.order-plan-image {
    border-radius: 50%;
}

.order-plan-title {
    font-weight: 700;
    position: relative; 
    bottom: 30px;
    left: 15px;
}

.order-plan-price {
    color: var(--desaturated-blue);
    position: relative;
    right: 78px;
    bottom: 2px;
}

.order-plan-option {
    color: var(--bright-blue);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    bottom: 15px;
    text-decoration: underline;
}

.order-plan-option:hover {
    color: #9400FF;
}

.order-plan-option:hover {
    cursor: pointer;
}

.order-payment {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 0.75rem;
    color: var(--very-pale-blue);
    padding: 15px 90px;
    text-align: center;
    margin: 5px 30px;
}

.order-payment:hover {
    background-color: #9400FF;
    cursor: pointer;
}

.order-cancel {
    color: var(--desaturated-blue);
    font-weight: 600;
    position: relative;
    right: 10px;
    text-align: center;
    margin: 20px 30px;
}

.order-cancel:hover {
    color: var(--dark-blue);
    cursor: pointer;
}

/* MEDIA QUERIES FOR MOBILE */

@media screen and (min-width: 250px) and (max-width: 500px) {
    body {
        background-image: url('images/pattern-background-mobile.svg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .order-container {
        height: 510px;
        width: 280px;
    }

    .order-title {
        font-size: 1.3rem;
        font-weight: 900;
        margin: 25px;
    }

    .order-info {
        font-size: 0.96rem;
        margin: 13px;
    }

    .order-plan {
        height: 45px;
        padding: 15px 10px;
        margin: 20px;
    }

    .order-plan-image {
        position: relative;
        right: 8px;
        width: 45px;
        margin: 0px;
    }

    .order-plan-title {
        font-size: 0.85rem;
        position: relative;
        left: 0px;   
    }

    .order-plan-price {
        font-size: 0.78rem;
        position: relative;
        bottom: 8px;
    }

    .order-plan-option {
        font-size: 0.85rem;
        position: relative;
        left: 80px;
        bottom: 35px;
    }

    .order-payment {
        padding: 15px 38px 15px 38px;
        margin: 5px 22px;
    }

    .order-cancel {
        font-size: 0.90rem;
        position: relative;
        right: 10px;
        margin: 10px;
    }
}