body {
    background-color: hsl(212, 56%, 75%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

a {
    color: black;
}

/* Main Container */

.container {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 390px;
    width: 260px;
    position: absolute;
    top: 150px;
    left: 650px;
}

.qr-image {
    background-color: rgb(13, 139, 223);
    border-radius: 15px;
    height: 190px;
    border: 1px solid rgb(13, 139, 223);
    margin-top: 10px;
    padding: 23px;
}

.main-heading {
    font-weight: 700;
    margin: 15px auto;
}

.sub-text {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

/* Footer Section */

.footer-info {
    position: absolute;
    bottom: 10px;
    left: 650px;
}

/* Media Queries - Tablet */

@media (max-width: 770px){

.container {
    height: 350px;
    width: 230px;
    position: absolute;
    top: 140px;
    left: 260px;
}

.qr-image {
    height: 160px;
    padding: 20px;
}

.main-heading {
    font-size: 30px;
}

.footer-info {
    position: absolute;
    left: 250px;
    
}

}

/* Media Queries - Mobile */

@media (max-width: 432px){

.container {
    position: absolute;
    top: 120px;
    left: 95px;
}

.footer-info {
    position: absolute;
    left: 85px;
}

}